.navbar{
  background-color:#030000;
  padding: 0.5% 0 0.5% 0;
  display: flex;
}
.shoppingImage{
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
}
.shoppingImage img{
  width: 70%;
}



.cartIcon {
  padding: 0 20px;
  font-size: 35px;
  color: white;
  position: relative;
}   
.cartCounter {
  position: absolute;
  /* top: 35px; */
  /* right: 35px; */
  bottom: 5px;
  /* left: 24px; */
  font-size: small;
  background-color: darkorange;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}



@media only screen and (max-width: 768px){
  .head{
    width: 100vw;
  }
  .shoppingImage{
    margin-top: 0%;
    margin-left: 2%;
  }
  .shoppingImage img{
    width: 70px;
    height: 22px;
    margin-top: 3px;
  }
  
  .cartIcon{
    margin-left: auto;
    padding: 0px 10px;
    font-size: 20px
  } 

  .cartCounter {
    bottom: -4px;
    font-size: x-small;
    width: 15px;
    height: 15px;
    text-align: center;
  }
  
  
}

