.product{
    margin:10px;
}

.productimg{
    margin-top: 0px;
}

.product-img{
    margin-top: 50px;
    display: flex;
}
.btn-right{
    float:right;
}

.padding-rt{
    margin-right: 50px
}
.padding-rt1{
    margin-left: 80px
}

.AddProduct-body{
    text-align: center;
}

.AddProduct-field{
    margin:10px;
}

.label-field{
    width: 120px;
}