/*.w-100 {
    width: 50%!important;
    margin-left:20%;
    margin-top:1%;
}
.d-block{
    height:20%!important;
}*/
.carousel {
    position: relative;
    margin-left: auto;
    margin-top: 22px;
    width:70vw;
    margin-right:150px;
}


.pro_item img{
  margin-left:auto;
    width:88vw;
    height:250px;
}
.carousel-control-prev-icon {
    background-color:#0373fc!important;
}
.carousel-control-next-icon {
   background-color:#0373fc!important;
}
.carousel-indicators .active{
    background-color:white;
}

@media only screen and (max-width: 768px){
    
    .carousel {
        position: relative;
        margin-left: 20px;
        margin-top: 22px;
        width:87vw;
        margin-right:80px;
    }
    .pro_image{
        width:100vw;
        height:28vh;
        margin-top:20px;
        margin-right:30px;
        
    }


    .pro_item img{
      
        width:87vw;
        height:28vh;
       
    } 
    .carousel-control-prev-icon {
        display:none;
        background-color:#0373fc!important;
        margin-top: 192px;
    }
    .carousel-control-next-icon {
        display:none;
       background-color:#0373fc!important;
       margin-top: 192px;
    }


    .carousel-inner{
      z-index: -10;
      border-color: #e77600!important;
      box-shadow: 0 0 4px 3px rgba(228,121,17)!important;
    }

}
